torch==2.1.0+cu121
torchvision==0.16.0+cu121
transformers==4.39.3
deepspeed==0.14.4
triton==2.1.0
einops==0.6.1
numpy==1.26.4
scipy==1.13.0
opencv-python==4.10.0.84
Pillow==10.3.0
imageio==2.34.1
matplotlib==3.5.3
tqdm==4.66.4
omegaconf==2.3.0
addict==2.4.0
mmengine==0.10.3
safetensors==0.4.2
PyYAML==6.0.1
tensorboard==2.14.0
nuplan-devkit==1.2.0
pyquaternion==0.9.9
shapely==1.8.5
